/****Build Information: Windows 1.5 Build 56****/
/************************ Navigation *************************/
#menuBuilder #nav { display: block; }
#menuBuilder #nav ul, #menuBuilder #nav ol { font-size: 1em; list-style: none; list-style-image: none; }
#menuBuilder #nav ul { padding: 0px 0%; margin: 0; }
#menuBuilder #nav ul li.menu_items { display: block; float: left; position: relative; margin: 0px; background: inherit; }
#menuBuilder #nav ul li ul li { display: block; position: relative; margin: 0px; }
#menuBuilder #nav ul li ul li a { margin: 0; padding: 0; }
#menuBuilder #nav ul li.menu_items ul { margin-top: 0px; display: none; }
#menuBuilder #nav:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
#menuBuilder .sub-nav { font-size: 80%; }
#menuBuilder .nav-button { display: none; position: relative; text-decoration: none; color: #222222; z-index: 2000; }
#menuBuilder .nav-button:hover, #menuBuilder .nav-button-slider:hover { color: #222222; text-decoration: none; }
#menuBuilder .nav-button.bar, #menuBuilder .nav-button-slider.bar { width: 100%; }
#menuBuilder #nav ul li.has-flyout:hover > ul.flyout { display: block; }
#menuBuilder li.has-flyout > .flyout { display: none; position: absolute; top: 100%; left: 0; padding: 0; width: auto; z-index: 2000; }
#menuBuilder li.has-flyout:hover > .flyout { display: block; }
#menuBuilder li.has-flyout > .flyout li a { display: block; }
#menuBuilder li.has-flyout > .flyout ul { display: none; left: 100%; top: 0; z-index: 2000; }
#menuBuilder li.has-flyout > a span.text_menu_link > i { position: absolute; background: transparent !important; border: none; width: auto; right: 13px; z-index: 22; }
#menuBuilder li.has-flyout.is-touch > a:first-child { padding-right: 55px; }
#menuBuilder .has-flyout.tri-level-cc .flyout > li { display: inline-block; float: left; }
#menuBuilder .has-flyout.tri-level-cc .flyout > li > ul { padding: 0px; display: inline-block; width: 100%; }
#menuBuilder .has-flyout.tri-level-cc .flyout > li > ul > li { float: none; width: 100%; }
#menuBuilder .touch .infinity-scroll { width: 97%; margin: 10px auto; -o-border-radius: 4px; -ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #d7d7d7; background: #efefef; -moz-box-shadow: 1px 1px 2px #d7d7d7 inset; -webkit-box-shadow: 1px 1px 2px #d7d7d7 inset; box-shadow: 1px 1px 2px #d7d7d7 inset; overflow: auto; position: relative; min-height: 65px; }
#menuBuilder .touch .infinity-scroll ul { position: absolute; top: 30%; width: auto; display: inline; white-space: nowrap; }
#menuBuilder .touch .infinity-scroll ul li { float: none; display: inline; padding-top: 0; padding-bottom: 0; }
#menuBuilder .touch .infinity-scroll ul li:last-child { padding-right: 35px; }
#menuBuilder .vertical { padding: 0; }
#menuBuilder .vertical > ul > li { display: block; float: none; }
#menuBuilder .vertical li.has-flyout > .flyout { left: 100%; top: 0; }
#menuBuilder .footer-nav { padding: 0; }
#menuBuilder .footer-nav ul { display: block; }
#menuBuilder .footer-nav ul li { float: left; padding: 0; }
#menuBuilder .tabs { margin-bottom: 20px; }
#menuBuilder .tabs > li { float: left; line-height: 20px; margin-bottom: 7px; }
#menuBuilder .tabs > li > a { padding: 8px 12px; line-height: 20px; }
#menuBuilder .tabs > li > a:hover { text-decoration: none; background-color: #eee; }
#menuBuilder .tabs:before, #menuBuilder .tabs:after { display: table; line-height: 0; content: ""; clear: both; }
#menuBuilder .tabs > .active a { background: #eee; text-decoration: none; }
#menuBuilder .tabs > .active a:hover { background: #eee; text-decoration: none; }
#menuBuilder .left-tabs .tabs { float: left; background: white; margin-right: 0.5em; }
#menuBuilder .left-tabs .tabs > li { float: none; }
#menuBuilder .left-tabs:before, #menuBuilder .left-tabs:after { display: table; line-height: 0; content: ""; clear: both; }
#menuBuilder .right-tabs .tabs { float: right; background: white; margin-left: 0.5em; }
#menuBuilder .right-tabs .tabs > li { float: none; }
#menuBuilder .right-tabs:before, #menuBuilder .right-tabs:after { display: table; line-height: 0; content: ""; clear: both; }
#menuBuilder .tab-content { overflow: auto; }
#menuBuilder .tab-content > .pane { display: none; }
#menuBuilder .tab-content > .active { display: block; }
#menuBuilder .right-menu-container, #menuBuilder .left-menu-container, #menuBuilder .top-menu-container, #menuBuilder .bottom-menu-container { position: fixed; display: none; margin: 0; overflow-y: auto; }
#menuBuilder .right-menu-container { width: 80%; height: 100%; margin-left: 100%; }
#menuBuilder .left-menu-container { width: 80%; height: 100%; margin-left: -100%; }
#menuBuilder .top-menu-container { width: 100%; margin-top: -100%; }
#menuBuilder .bottom-menu-container { width: 100%; margin-top: 100%; overflow-y: auto; }
#menuBuilder .fromRight, #menuBuilder .fromLeft, #menuBuilder .fromTop, #menuBuilder .fromBottom { overflow: hidden; }
#menuBuilder .fromRight .container, #menuBuilder .fromLeft .container, #menuBuilder .fromTop .container, #menuBuilder .fromBottom .container { position: absolute; }
#menuBuilder .fromRight .container { margin-left: -80%; width: 100%; float: left; }
#menuBuilder .fromLeft .container { margin-left: 80%; width: 100%; float: left; }
#menuBuilder .fromTop .container { margin-top: 45%; width: 100%; }
#menuBuilder .fromRight .right-menu-container, #menuBuilder .fromLeft .left-menu-container { display: block; }
#menuBuilder .fromTop .top-menu-container { display: block; height: 45%; margin-left: 0; width: 100%; overflow-y: auto; }
#menuBuilder .fromBottom .bottom-menu-container { bottom: 0; width: 100%; display: block; background: white; z-index: 2000; overflow-y: auto; -moz-box-shadow: -1px -1px 5px #555555; -webkit-box-shadow: -1px -1px 5px #555555; box-shadow: -1px -1px 5px #555555; }
#menuBuilder .no-js .nav-collapse, #menuBuilder .no-js li.has-flyout:hover > ul.flyout { display: block; }
#menuBuilder #nav ul, #menuBuilder #nav li, #menuBuilder #nav span { background-image: none; }

.nav-button-slider { display: none; position: relative; text-decoration: none; color: #222222; z-index: 2000; }
